<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <style>
      footer{ height: 10vh;line-height: 10vh; }
    </style>
  </head>
  <body>
    <footer>
      <h4>Copyright @ Company | All rights reserved</h4>
    </footer>
  </body>
</html>